*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style-type: none;
}

body{
    height: 100vh;
    width: 100%;
}

nav{
    padding: 20px;
    height: 70px;
    background: teal;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

nav h4{
    font-weight: 600;
    font-size: 150%;
}

ul li{
    display: inline-block;
    margin: 10px;
    
}

li a{
    color: whitesmoke;
}

li a:hover{
    color: antiquewhite;
}

button{
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    margin-right: 10px;
    cursor: pointer;
    background: white;
}

button:hover{
    background: whitesmoke;
}

/* navbar and here */

#hero{
    width: 100%;
    height: 100vh;
    font-size: 18px;
    background:linear-gradient(rgba(0,0,0,0.445), rgba(0,0,0,0.411)), 
    url('https://images.unsplash.com/photo-1542359649-31e03cd4d909?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YWR2ZW50dXJlfGVufDB8fDB8fHww') no-repeat center / cover;
    color: whitesmoke;
}

.contaner{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contaner .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contaner .info h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contaner .info p{
    font-size: 1.2rem;
    max-width: 60%;
    /* margin-bottom: 2rem; */
}

.contaner .info a{
    background: white;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 4px;
    padding: 0.5em 2em;
    margin-top: 2rem;
}

.tital{
    text-align: center;
    padding: 5%;
}

#card-one{
    background: rgb(244, 238, 238);
}

.card-contaner{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    padding: 20px;
    /* background: rgb(67, 185, 193); */
}

.card{
    background: #fff;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    box-shadow: 0px, 4px, 8px, rgba(0,0,0,0.2);
    cursor: pointer;
}

.card img{
    width: 100%;
    /* height: 50%; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px;
    background-size: cover;
}

.service{
    padding: 10px;
    text-align: center;
}

.service h2{
    margin-bottom: 10px;
}

.service p{
    font-weight: normal;
    line-height: 30px;
    color: rgb(98, 97, 97);
}